.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
    height: 100%;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  #zoomable-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;
  }
  
  #zoomable-element.zoomed {
    transform: translate(-50%, -50%) scale(1.5);
  }

  .haircut {
    position: absolute;
    left: -10px;
    display: none;
    top: 1%;
  }

  #haircut-sample1.visible {
    display: block;
  }

  #haircut-sample2.visible {
    display: block;
    width: 117px;
    left: -3px;
  }